---
import Layout from "../layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Projects from "@/sections/Projects.astro";
import Experience from "@/sections/Experience.astro";
import Skills from "@/sections/Skills.astro";
import References from "@/sections/References.astro";
import Contact from "@/sections/Contact.astro";
import CallToAction from "@/sections/CallToAction.astro";
---

<Layout title="Fabián Morag - Ingeniero de Software - Web Developer - CRO">
	<main>
		<Hero />
		<Experience />
		<Projects />
		<CallToAction />
		<Skills />
		<!-- <References /> -->
		<Contact />
	</main>
</Layout>
