<footer class="w-full px-6 py-8 bg-transparent border-t-2 border-slate-200">
  <section
    class="flex items-center justify-center max-w-screen-lg gap-4 mx-auto"
  >
    <span class="px-6 py-3 font-semibold text-center">Fabián Morag</span>
    <span>|</span>
    <a
      class="px-6 py-3 font-semibold text-center underline text-amber-500 hover:text-amber-600"
      href="">LinkedIn</a
    >
    <span>|</span>
    <a
      class="px-6 py-3 font-semibold text-center underline text-amber-500 hover:text-amber-600"
      href="">GitHub</a
    >
  </section>
</footer>
