<footer class="bg-transparent px-6 py-8 border-slate-200 border-t-2 w-full">
  <section class="flex justify-center items-center mx-auto max-w-screen-lg">
    <span class="md:px-6 py-3 w-1/3 md:w-auto font-semibold text-sm md:text-base text-center">Fabi치n Morag</span>
    <span>|</span>
    <a
      class="px-4 md:px-6 py-3 w-1/3 md:w-auto font-semibold text-amber-600 hover:text-amber-500 text-sm md:text-base text-center underline"
      href="https://www.linkedin.com/in/fabi치n-morag-b92376241"
      title="Perfil de Linkedin de Fabi치n Morag"
      target="_blank">LinkedIn</a
    >
    <span>|</span>
    <a
      class="px-4 md:px-6 py-3 w-1/3 md:w-auto font-semibold text-amber-600 hover:text-amber-500 text-sm md:text-base text-center underline"
      href="https://github.com/FabianMorag"
      title="Perfil de GitHub de Fabi치n Morag"
      target="_blank">GitHub</a
    >
  </section>
</footer>
