<footer class="px-4 py-8 border-base-300 border-t-2 w-full">
  <div class="flex justify-center items-center mx-auto max-w-5xl">
    <span class="px-4 font-semibold text-sm md:text-base">Fabi치n Morag</span>
    <span>|</span>
    <a
      class="px-4 font-semibold text-sm md:text-base link link-primary"
      href="https://www.linkedin.com/in/fabi치n-morag-b92376241"
      title="Perfil de Linkedin de Fabi치n Morag"
      target="_blank">LinkedIn</a
    >
    <span>|</span>
    <a
      class="px-4 font-semibold text-sm md:text-base link link-primary"
      href="https://github.com/FabianMorag"
      title="Perfil de GitHub de Fabi치n Morag"
      target="_blank">GitHub</a
    >
  </div>
</footer>
