<footer class="w-full px-6 py-8 bg-transparent border-t-2 border-slate-200">
  <section class="flex items-center justify-center max-w-screen-lg mx-auto">
    <span class="w-1/3 py-3 text-sm font-semibold text-center md:w-auto md:px-6 md:text-base">Fabi치n Morag</span>
    <span>|</span>
    <a
      class="w-1/3 px-4 py-3 text-sm font-semibold text-center underline md:w-auto md:px-6 md:text-base text-amber-600 hover:text-amber-700"
      href="https://www.linkedin.com/in/fabi치n-morag-b92376241"
      title="Perfil de Linkedin de Fabi치n Morag"
      target="_blank">LinkedIn</a
    >
    <span>|</span>
    <a
      class="w-1/3 px-4 py-3 text-sm font-semibold text-center underline md:w-auto md:px-6 md:text-base text-amber-600 hover:text-amber-700"
      href="https://github.com/FabianMorag"
      title="Perfil de GitHub de Fabi치n Morag"
      target="_blank">GitHub</a
    >
  </section>
</footer>
