<footer class="px-4 py-8 w-full glass">
  <div class="flex justify-center items-center mx-auto max-w-5xl">
    <span class="pr-4 font-semibold text-sm md:text-base">Fabián Morag</span>
    <span>|</span>
    <a
      class="px-4 font-semibold text-sm md:text-base link link-primary"
      href="https://www.linkedin.com/in/fabian-morag"
      title="Perfil de Linkedin de Fabián Morag"
      target="_blank">LinkedIn</a
    >
    <span>|</span>
    <a
      class="pl-4 font-semibold text-sm md:text-base link link-primary"
      href="https://github.com/FabianMorag"
      title="Perfil de GitHub de Fabián Morag"
      target="_blank">GitHub</a
    >
  </div>
</footer>
