<header class="fixed z-10 w-full px-6 scroll-dark-bg backdrop-blur-sm">
  <section class="flex justify-center max-w-screen-lg py-2 m-auto md:gap-16">
    <a
      class="px-3 py-3 text-sm font-semibold md:text-xl md:px-6 hover:text-amber-500"
      href="#hero">Inicio</a
    >
    <a
      class="px-3 py-3 text-sm font-semibold md:text-xl md:px-6 hover:text-amber-500"
      href="#experience">Experiencia</a
    >
    <a
      class="px-3 py-3 text-sm font-semibold md:text-xl md:px-6 hover:text-amber-500"
      href="#projects">Proyectos</a
    >
    <a
      class="px-3 py-3 text-sm font-semibold md:text-xl md:px-6 hover:text-amber-500"
      href="#contact"
      title="Contactar a Fabián Morag">Contacto</a
    >
  </section>
</header>

<style>
  .scroll-dark-bg {
    animation: graying linear both;
    animation-timeline: scroll(root);
    animation-range: 0 600px;
  }
  @keyframes graying {
    from {
      background: rgb(15, 23, 42, 0);
    }
    to {
      background: rgb(15, 23, 42, 0.3);
    }
  }
</style>
