<header class="z-30 fixed backdrop-blur-sm px-6 w-full scroll-dark-bg">
  <section class="flex justify-center md:gap-16 m-auto py-2 max-w-screen-lg">
    <a class="px-3 md:px-6 py-3 font-semibold hover:text-amber-500 text-sm md:text-xl" href="#hero">Inicio</a>
    <a class="px-3 md:px-6 py-3 font-semibold hover:text-amber-500 text-sm md:text-xl" href="#experience">Experiencia</a
    >
    <a class="px-3 md:px-6 py-3 font-semibold hover:text-amber-500 text-sm md:text-xl" href="#projects">Proyectos</a>
    <a
      class="px-3 md:px-6 py-3 font-semibold hover:text-amber-500 text-sm md:text-xl"
      href="#contact"
      title="Contactar a Fabián Morag">Contacto</a
    >
  </section>
</header>

<style>
  .scroll-dark-bg {
    animation: graying linear both;
    animation-timeline: scroll(root);
    animation-range: 0 600px;
  }
  @keyframes graying {
    from {
      background: rgb(15, 23, 42, 0);
    }
    to {
      background: rgb(15, 23, 42, 0.3);
    }
  }
</style>
