<section id="cta" class="bg-slate-200 px-6 py-20">
  <div class="flex flex-col items-center gap-10 m-auto max-w-screen-lg">
    <h2 class="font-bold text-4xl md:text-5xl text-center">¿Te interesa trabajar conmigo?</h2>
    <a
      class="bg-gradient-to-br from-amber-500 to-amber-600 hover:shadow-md hover:shadow-slate-300 px-6 py-3 rounded-xl w-full md:w-fit font-semibold text-white text-center"
      href="#contact">¡Contáctame!</a
    >
  </div>
</section>
