---
import { Image } from 'astro:assets'
import { ContactForm } from '@/components/ContactForm'
---

<section id="contact" class="px-4 py-24">
  <div class="m-auto max-w-5xl">
    <h2 class="mb-12 font-bold text-4xl md:text-5xl text-center">Contacto</h2>

    <div class="gap-8 grid grid-cols-1 md:grid-cols-2">
      <div class="hidden md:flex justify-start items-center">
        <Image
          class="rounded-3xl w-full"
          src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExZW50bXNkbWV1b3V1NHdsYXhkdm45ZHhpdmh2dnpodjg4azcybHNtMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/GghGKaZ8JeHJx0apQC/giphy.gif"
          alt="Contacto"
          width={440}
          height={440}
        />
      </div>

      <div class="relative">
        <ContactForm client:visible />

        <div class="hidden z-10 absolute content-center bg-white size-full success-message">
          <span class="block mb-8 text-amber-600 text-2xl text-center">¡Gracias por tu mensaje!</span>
          <span class="block text-amber-600 text-lg text-center">Te responderé lo antes posible</span>
        </div>
      </div>
    </div>
  </div>
</section>
