<section id="experience" class="px-6 py-24">
  <div class="max-w-screen-lg m-auto">
    <h2 class="mb-12 text-5xl font-bold text-center">Experiencia</h2>
    <div class="flex flex-col gap-6">
      <article
        class="flex flex-col gap-4 p-8 border shadow md:flex-row border-slate-200 rounded-xl bg-slate-200 shadow-slate-200"
      >
        <div class="w-full text-lg md:w-1/4 text-nowrap">
          <time datetime="">Jul 2022</time> - <time datetime="">Actualidad</time
          >
        </div>
        <div class="w-full md:w-3/4">
          <h3 class="mb-4 text-lg font-semibold">Analista Front end - D2B</h3>
          <p class="text-slate-600">
            Trabajo formando parte del equipo de CRO de la empresa.
            Principalmente, realizo planificación y elaboración de experimentos
            web a partir del análisis de datos, lidero reuniones con clientes,
            además de apoyar en la creación de html para email. Las principales
            herramientas usadas son aquellas enfocadas al testing, recopilación
            y exploración de datos, como ABTasty o Google Analytics 4.
          </p>
        </div>
      </article>

      <article
        class="flex flex-col gap-4 p-8 border shadow md:flex-row border-slate-200 rounded-xl bg-slate-100 shadow-slate-200"
      >
        <div class="w-full text-lg md:w-1/4 text-nowrap">
          <time datetime="">May 2021</time> - <time datetime="">Nov 2021</time>
        </div>
        <div class="w-full md:w-3/4">
          <h3 class="mb-4 text-lg font-semibold">
            Soporte técnico - Universidad Austral de Chile
          </h3>
          <p class="text-slate-600">
            Di soporte técnico y mantenimiento al proyecto TrAC. Implicó
            revisión de la configuración del servidor, corrección de
            vulnerabilidades y generación de respaldos de bases de datos
            regularmente. Finalmente, creé documentación de los procesos que se
            llevaron a cabo durante este periodo. Me desempeñé principalmente
            trabajando sobre el servidor y la configuración de la aplicación en
            Docker
          </p>
        </div>
      </article>

      <article
        class="flex flex-col gap-4 p-8 border shadow md:flex-row border-slate-200 rounded-xl bg-slate-50 shadow-slate-200"
      >
        <div class="w-full text-lg md:w-1/4 text-nowrap">
          <time datetime="">Ene 2021</time> - <time datetime="">Mar 2021</time>
        </div>
        <div class="w-full md:w-3/4">
          <h3 class="mb-4 text-lg font-semibold">
            Ingeniero de Software - Puentes Digitales (Práctica profesional)
          </h3>
          <p class="text-slate-600">
            Como practicante en la empresa consultora, trabajé en la creación de
            nuevas interfaces y funcionalidades para el proyecto TrAC. El
            desarrollo era mediante metodologías ágiles, basándose en historias
            de usuario recopiladas por los ingenieros a cargo. Las principales
            herramientas con las que trabajé fueron NextJS, bases de datos SQL,
            y herramientas de gestión de tareas.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
