---
import { Image } from 'astro:assets'
import MainPortfolioImage from '@assets/fabian-morag.webp'
import CV from '@assets/Fabián_Morag_CV.pdf'
import LinkedIn from '@/components/logos/Linkedin.astro'
import GitHub from '@/components/logos/GitHub.astro'
---

<section id="hero" class="content-center px-4 py-24 min-h-dvh">
  <div class="md:flex md:flex-row-reverse justify-between items-center gap-6 mx-auto max-w-5xl">
    <Image
      class="shadow-lg shadow-primary mx-auto mb-4 border-4 border-primary rounded-full size-60 md:size-72 lg:size-80 object-cover aspect-square animate-delay-100 animate-fade"
      src={MainPortfolioImage}
      alt="Imagen de Fabián Morag"
      title="Fabián Morag - Ingeniero de Software - Desarrollador Web"
      loading="eager"
      fetchpriority="high"
      width={720}
      height={720}
    />

    <div>
      <small class="block text-base md:text-left text-center animate-fade-up"> ¡Hola! Mi nombre es </small>
      <h1
        class="bg-clip-text bg-linear-to-r from-primary to-secondary pb-4 font-bold text-transparent text-5xl md:text-8xl md:text-left text-center animate-fade-up"
      >
        Fabián Morag
      </h1>
      <small class="block mb-6 text-xl md:text-2xl md:text-left text-center animate-delay-200 animate-fade-up">
        <span class="block">Ingeniero de Software</span>
        <span class="block">Desarrollador Web - Fullstack</span>
      </small>
      <p class="mb-6 md:text-left text-center animate-delay-400 animate-fade-up">
        Ingeniero Civil en informática de más de 3 años de experiencia en el desarrollo web. Soy un profesional
        adaptable, con ganas de contribuir a un buen ambiente laboral y trabajar en un entorno colaborativo. Abierto a
        nuevas oportunidades y desafíos, busco consolidar mi carrera y seguir creciendo en el campo de la informática y
        el desarrollo.
      </p>
      <div class="flex flex-wrap justify-center md:justify-start gap-2 animate-delay-1200 animate-fade">
        <a
          href={CV}
          title="CV - Curriculum vitae de Fabián Morag"
          target="_blank"
          role="button"
          class="text-lg btn btn-wide btn-neutral">Ver CV</a
        >
        <div>
          <a
            href="https://www.linkedin.com/in/fabian-morag/"
            title="Perfil de Linkedin de Fabián Morag"
            target="_blank"
            role="button"
            class="btn btn-ghost"><LinkedIn width="24" height="24" /></a
          >
          <a
            href="https://github.com/FabianMorag/"
            title="Perfil de GitHub de Fabián Morag"
            target="_blank"
            role="button"
            class="btn btn-ghost"><GitHub width="24" height="24" /></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
