---
import { Image } from "astro:assets";
import LinkedinIcon from "@/components/icon/linkedin.astro";
import GithubIcon from "@/components/icon/github.astro";
---

<section
  id="hero"
  class="content-center min-h-screen px-6 py-64 radial-background"
>
  <div
    class="flex flex-col-reverse items-center justify-between max-w-screen-lg gap-12 mx-auto md:flex-row"
  >
    <div>
      <small class="block text-xl text-center md:text-left text-slate-700">
        ¡Hola! Mi nombre es
      </small>
      <h1
        class="text-6xl font-bold text-center md:text-8xl md:text-left animate-fade-up"
      >
        Fabián Morag
      </h1>
      <small
        class="block mb-6 text-2xl text-center md:text-left text-slate-700 animate-fade-up"
      >
        <span class="block">Ingeniero de Software</span>
        <span class="block">Desarrollador Web - CRO</span>
      </small>
      <p
        class="mb-6 text-center md:text-left text-slate-600 animate-fade-up animate-delay-200"
      >
        Ingeniero en Informática con experiencia en tecnologías de frontend y
        backend. <br /> Apasionado por el desarrollo, comprometido con un ambiente
        laboral positivo y colaborativo.
      </p>
      <div
        class="flex justify-center gap-4 md:justify-normal animate-fade-up animate-delay-500"
      >
        <a
          class="block w-full px-6 py-3 font-semibold text-center text-white rounded-xl from-amber-500 to-amber-600 bg-gradient-to-br md:w-fit hover:shadow-md hover:shadow-slate-300"
          href="/public/CV-Fabian-Morag.pdf"
          download>Descargar CV</a
        >
        <a
          class="grid p-3 text-white rounded-xl from-amber-500 to-amber-600 bg-gradient-to-br w-fit place-items-center hover:shadow-md hover:shadow-slate-300"
          href="https://www.linkedin.com/in/fabián-morag-b92376241"
          target="_blank"
        >
          <LinkedinIcon size={20} />
        </a>
        <a
          class="grid p-3 text-white rounded-xl from-amber-500 to-amber-600 bg-gradient-to-br w-fit place-items-center hover:shadow-md hover:shadow-slate-300"
          href="https://github.com/FabianMorag"
          target="_blank"
        >
          <GithubIcon size={24} />
        </a>
      </div>
    </div>
    <Image
      class="rounded-full border-t-2 border-r-2 border-amber-400 object-cover mb-8 drop-shadow-[4px_4px_4px_rgba(0,0,0,.3)] md:mb-0 animate-fade animate-delay-100 object-center scale-125"
      style="mask-image: linear-gradient(to bottom, black 90%, transparent 100%)"
      src="/avatar-2.webp"
      alt="fotografia de Fabián Morag"
      width={320}
      height={480}
    />
  </div>
</section>

<style>
  .radial-background {
    background: radial-gradient(
        150% 650px at 50% 700px,
        var(--main-bg-color) 75%,
        transparent 75.2%
      ),
      linear-gradient(180deg, var(--main-bg-color) 70%, transparent 70%),
      transparent;
  }

  @media (width>=768px) {
    .radial-background {
      background: radial-gradient(
          150% 650px at 50% 650px,
          var(--main-bg-color) 75%,
          transparent 75.2%
        ),
        linear-gradient(180deg, var(--main-bg-color) 70%, transparent 70%),
        transparent;
    }
  }
</style>
