---
import { Image } from "astro:assets";
import LinkedinIcon from "@/components/icon/linkedin.astro";
import GithubIcon from "@/components/icon/github.astro";
---

<section
  id="hero"
  class="content-center min-h-screen px-6 py-40 md:py-64 radial-background"
>
  <div
    class="flex flex-col-reverse items-center justify-between max-w-screen-lg gap-12 mx-auto md:flex-row"
  >
    <div>
      <small
        class="block text-base text-center md:text-xl md:text-left text-slate-700"
      >
        ¡Hola! Mi nombre es
      </small>
      <h1
        class="mb-4 text-5xl font-bold text-center md:text-8xl md:text-left animate-fade-up"
      >
        Fabián Morag
      </h1>
      <small
        class="block mb-6 text-xl text-center md:text-2xl md:text-left text-slate-700 animate-fade-up"
      >
        <span class="block">Ingeniero de Software</span>
        <span class="block">Desarrollador Web - CRO</span>
      </small>
      <p
        class="mb-6 text-center md:text-left text-slate-600 animate-fade-up animate-delay-200 text-balance"
      >
        Ingeniero en informática con experiencia en tecnologías tanto de
        frontend como de backend. Me destaco por mi motivación hacia el
        desarrollo de software, combinada con un compromiso innato por fomentar
        un entorno laboral positivo y colaborativo.
      </p>
      <div class="flex gap-2 md:gap-4 animate-fade-up animate-delay-500">
        <a
          class="block w-full px-6 py-3 font-semibold text-center text-white rounded-xl from-amber-500 to-amber-600 bg-gradient-to-br md:w-fit hover:shadow-md hover:shadow-slate-300"
          href="/CV-Fabian-Morag.pdf"
          target="_blank">Descargar CV</a
        >
        <a
          class="grid p-3 text-white rounded-xl from-amber-500 to-amber-600 bg-gradient-to-br w-fit place-items-center hover:shadow-md hover:shadow-slate-300"
          href="https://www.linkedin.com/in/fabián-morag-b92376241"
          target="_blank"
        >
          <LinkedinIcon size={20} />
        </a>
        <a
          class="grid p-3 text-white rounded-xl from-amber-500 to-amber-600 bg-gradient-to-br w-fit place-items-center hover:shadow-md hover:shadow-slate-300"
          href="https://github.com/FabianMorag"
          target="_blank"
        >
          <GithubIcon size={24} />
        </a>
      </div>
    </div>

    <Image
      class="rounded-full border-t-2 border-r-2 border-amber-400 object-contain mb-4 drop-shadow-[4px_4px_4px_rgba(0,0,0,.3)] md:mb-0 animate-fade animate-delay-100 object-center scale-110 w-60 md:w-80"
      style="mask-image: linear-gradient(to bottom, black 90%, transparent 100%)"
      src="/avatar.webp"
      alt="Avatar de Fabián Morag"
      width={360}
      height={360}
    />
  </div>
</section>

<style>
  .radial-background {
    background: radial-gradient(
        150% 300px at 50% 70%,
        var(--main-bg-color) 75%,
        transparent 75.2%
      ),
      linear-gradient(180deg, var(--main-bg-color) 70%, transparent 70%),
      transparent;
  }

  @media (width>=768px) {
    .radial-background {
      background: radial-gradient(
          120% 650px at 50% 60%,
          var(--main-bg-color) 75%,
          transparent 75.2%
        ),
        linear-gradient(180deg, var(--main-bg-color) 70%, transparent 70%),
        transparent;
    }
  }
</style>
