---
import { Image } from "astro:assets";
import ExternalLinkIcon from "@/components/icon/external-link.astro";
import GithubIcon from "@/components/icon/github.astro";
---

<section id="projects" class="px-6 py-24">
  <div class="max-w-screen-lg m-auto">
    <h2 class="mb-12 text-5xl font-bold text-center">Proyectos</h2>
    <div class="grid gap-6">
      <article
        class="flex flex-col justify-between gap-6 p-8 border shadow md:flex-row-reverse border-slate-200 rounded-xl bg-slate-100 shadow-slate-200"
      >
        <Image
          class="mb-8 md:mb-0 object-contain mx-auto drop-shadow-[4px_4px_10px_rgba(0,0,0,.5)]"
          src="/d2b.webp"
          alt="d2b"
          width={300}
          height={200}
        />
        <div>
          <h3 class="mb-2 text-xl font-bold md:2xl">D2B - Sitio web oficial</h3>
          <p class="mb-6 text-slate-600">
            Este es el sitio web de la consultora D2B donde muestra sus
            servicios, contacto, y su blog. Fue desarrollado utilizando Astro y
            Tailwind CSS en el frontend para optimizar el rendimiento y el
            diseño del sitio. En el backend, integra WordPress y Directus para
            la gestión de contenido principal y personalización avanzada de
            datos.
          </p>
          <div class="flex gap-4">
            <a
              class="flex items-center justify-center flex-1 gap-2 px-4 py-3 text-sm font-semibold text-white md:text-base md:px-6 md:flex-none hover:shadow-md hover:shadow-slate-300 from-amber-500 to-amber-600 bg-gradient-to-br rounded-xl"
              href="https://dev.d2b.cl/"
              target="_blank"
              >Visitar sitio<span><ExternalLinkIcon size={24} /></span></a
            >
            <a
              class="flex gap-2 px-4 py-3 text-sm font-semibold bg-transparent border md:text-base md:px-6 h-fit hover:shadow-md hover:shadow-slate-300 border-slate-800 rounded-xl"
              href="https://github.com/CRO-D2B/web-d2b-2024"
              target="_blank">Código<span><GithubIcon size={24} /></span></a
            >
          </div>
        </div>
      </article>

      <article
        class="flex flex-col p-8 border shadow border-slate-200 rounded-xl shadow-slate-200"
      >
        <h3 class="mb-2 text-xl font-bold md:2xl">E-commerce</h3>
        <p class="mb-6 text-slate-600">
          Proyecto demo de un e-commerce ficticio que utiliza Next.js como su
          framework principal de desarrollo, aprovechando su capacidad para
          lograr una experiencia de usuario rápida y fluida, apoyado de un
          desarrollo enfocado en UX. Cuenta con una API desarrollada con GraphQL
          que ofrece una forma eficiente de consultar y manipular datos a través
          de un único punto de acceso.
        </p>
        <div class="flex items-end flex-grow gap-4">
          <a
            class="flex items-center justify-center flex-1 gap-2 px-4 py-3 text-sm font-semibold text-white md:text-base md:px-6 h-fit md:flex-none hover:shadow-md hover:shadow-slate-300 from-amber-500 to-amber-600 bg-gradient-to-br rounded-xl"
            href="https://my-ecommerce-five-pied.vercel.app/"
            target="_blank"
            >En desarrollo<span><ExternalLinkIcon size={24} /></span></a
          >
          <a
            class="flex gap-2 px-4 py-3 text-sm font-semibold bg-transparent border md:text-base md:px-6 h-fit hover:shadow-md hover:shadow-slate-300 border-slate-800 rounded-xl"
            href="https://github.com/FabianMorag/my-ecommerce"
            target="_blank">Código<span><GithubIcon size={24} /></span></a
          >
        </div>
      </article>

      <article
        class="flex flex-col p-8 border shadow border-slate-200 rounded-xl shadow-slate-200"
      >
        <h3 class="mb-2 text-xl font-bold md:2xl">Landing Page</h3>
        <p class="mb-6 text-slate-600">
          Landing page demo de un gimnasio ficticio desarrollada usando Astro
          como framework principal y Tailwind CSS para optimizar el rendimiento
          y el diseño del sitio. Además, se realiza una simulacion de
          contratación o de contacto.
        </p>
        <div class="flex items-end flex-grow gap-4">
          <a
            class="flex items-center justify-center flex-1 gap-2 px-4 py-3 text-sm font-semibold text-white md:text-base md:px-6 h-fit md:flex-none hover:shadow-md hover:shadow-slate-300 from-amber-500 to-amber-600 bg-gradient-to-br rounded-xl"
            href="https://my-gym-peach.vercel.app/"
            target="_blank">Demo<span><ExternalLinkIcon size={24} /></span></a
          >
          <a
            class="flex gap-2 px-4 py-3 text-sm font-semibold bg-transparent border md:text-base md:px-6 h-fit hover:shadow-md hover:shadow-slate-300 border-slate-800 rounded-xl"
            href="https://github.com/FabianMorag/my-gym"
            target="_blank">Código<span><GithubIcon size={24} /></span></a
          >
        </div>
      </article>

      <article
        class="flex flex-col justify-between p-8 border shadow border-slate-200 rounded-xl shadow-slate-200"
      >
        <h3 class="mb-2 text-xl font-bold md:2xl">
          Juego de encontrar cartas iguales
        </h3>
        <p class="mb-6 text-slate-600">
          Un juego simple pero de mucha lógica, donde el objetivo es encontrar
          todas las cartas iguales en el menor número de intentos posible.
          Desarrollado con React y Sass para el diseño y la interacción del
          juego.
        </p>
        <div class="flex items-end flex-grow gap-4">
          <a
            class="flex items-center justify-center flex-1 gap-2 px-4 py-3 text-sm font-semibold text-white md:text-base md:px-6 h-fit md:flex-none hover:shadow-md hover:shadow-slate-300 from-amber-500 to-amber-600 bg-gradient-to-br rounded-xl"
            href="https://fabianmorag.github.io/match-pairs/"
            target="_blank">Demo<span><ExternalLinkIcon size={24} /></span></a
          >
          <a
            class="flex gap-2 px-4 py-3 text-sm font-semibold bg-transparent border md:text-base md:px-6 h-fit hover:shadow-md hover:shadow-slate-300 border-slate-800 rounded-xl"
            href="https://github.com/FabianMorag/match-pairs"
            target="_blank">Código<span><GithubIcon size={24} /></span></a
          >
        </div>
      </article>
    </div>
  </div>
</section>
