---
import { Carousel } from '@/components/Carousel'
---

<section id="references" class="px-4 py-24">
  <div class="m-auto max-w-5xl">
    <h2 class="mb-12 px-6 font-bold text-4xl md:text-5xl text-center">Referencias</h2>

    <Carousel client:idle />
  </div>
</section>
