---
// import { chromium } from "playwright";

// const browser = await chromium.launch({ headless: true });
// const page = await browser.newPage();
// await page.goto(
//   "https://www.linkedin.com/in/feliperiosbarraza/details/recommendations",
// );

// const recommendations = page.locator("main ul");
// await recommendations.waitFor({ state: "visible", timeout: 15000 });
// const names = await recommendations.evaluateAll((nodes) => {
//   1;
// });

// console.log({ names });
// await browser.close();
---

<section id="references" class="px-6 py-24">
  <div class="max-w-screen-lg m-auto">
    <h2 class="mb-12 text-5xl font-bold text-center">Referencias</h2>
  </div>
</section>
