---
import { Image } from 'astro:assets'
import { SKILLS } from '@/contants/skills.ts'
---

<section id="skills" class="px-4 py-24">
  <div class="m-auto max-w-5xl">
    <h2 class="mb-12 font-bold text-4xl md:text-5xl text-center">Conocimientos</h2>
    <ul class="flex flex-wrap justify-center gap-3 md:gap-6">
      {
        SKILLS.map(({ name, imageSrc, logo }) => (
          <li class="hover-3d">
            <div class="bg-neutral-content p-2 rounded-2xl outline-none w-24 text-neutral">
              {imageSrc && (
                <Image
                  class="mx-auto mb-2 size-8 sm:size-12 md:size-16 object-contain"
                  src={imageSrc}
                  alt={`Logo ${name}`}
                  width={128}
                  height={128}
                />
              )}
              {logo && <span class={`${logo} mb-2 size-8 sm:size-12 md:size-16 block mx-auto`} />}
              <footer class="font-medium md:text-md text-sm text-center">{name}</footer>
            </div>

            <div />
            <div />
            <div />
            <div />
            <div />
            <div />
            <div />
            <div />
          </li>
        ))
      }
    </ul>
  </div>
</section>
