---
import { Image } from "astro:assets";
import { SKILLS } from "@/contants/skills";
---

<section id="skills" class="px-6 py-24">
  <div class="m-auto max-w-screen-lg">
    <h2 class="mb-12 font-bold text-4xl md:text-5xl text-center">
      Conocimientos
    </h2>
    <ul class="flex flex-wrap justify-center gap-3 md:gap-4">
      {
        SKILLS.map(({ name, imageSrc }) => (
          <li class="shadow shadow-slate-200 p-2 md:py-3 border border-slate-200 rounded-xl w-24 md:w-32">
            <Image
              class="mx-auto mb-2 size-6 md:size-12 object-contain"
              src={imageSrc}
              alt={`Logo ${name}`}
              width={48}
              height={48}
            />
            <footer class="font-medium text-sm md:text-lg text-center">
              {name}
            </footer>
          </li>
        ))
      }
    </ul>
  </div>
</section>
