---
import { Image } from "astro:assets";
import { SKILLS } from "@/contants/skills";
---

<section id="skills" class="px-6 py-24">
  <div class="max-w-screen-lg m-auto">
    <h2 class="mb-12 text-4xl font-bold text-center md:text-5xl">
      Conocimientos
    </h2>
    <ul class="flex flex-wrap justify-center gap-3 md:gap-4">
      {
        SKILLS.map(({ name, imageSrc }) => (
          <li class="w-24 p-2 md:py-3 border shadow border-slate-200 shadow-slate-200 rounded-xl md:w-32">
            <Image
              class="object-contain mx-auto mb-2 size-6 md:size-12"
              src={imageSrc}
              alt={`Logo ${name}`}
              width={48}
              height={48}
            />
            <footer class="text-sm font-medium text-center md:text-lg">
              {name}
            </footer>
          </li>
        ))
      }
    </ul>
  </div>
</section>
