---
import "@fontsource-variable/outfit";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<link rel="canonical" href="https://fabianmorag.com/" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="robots" content="index,follow" />

		<script is:inline type="application/ld+json">
			{
				"@context": "https://schema.org/",
				"@type": "Person",
				"name": "Fabián Morag",
				"url": "https://fabianmorag.com/",
				"image": "https://fabianmorag.com/fabian-morag.webp",
				"sameAs": [
					"https://github.com/FabianMorag",
					"https://www.linkedin.com/in/fabi%C3%A1n-morag-b92376241/"
				],
				"jobTitle": "Software Engineer, Web Developer, CRO",
				"worksFor": {
					"@type": "Organization",
					"name": "D2B"
				}
			}
		</script>
	</head>

	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	html {
		--main-bg-color: #fffbeb;
		/* --main-bg-color: #fef3c7; */
		--main-text-color: #1e293b;

		scroll-behavior: smooth;
		font-family: "Outfit Variable", sans-serif;
		/* text-slate-800 */
		color: var(--main-text-color);
	}

	p {
		text-wrap: pretty;
	}
</style>
